.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .about-img {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin: 10px 0;

    @media (max-width: 360px - 1px) {
      padding: 20px;
    }
  }

  .about-text {
    max-width: 640px;
    margin: 20px 0 !important;

    @media (max-width: 360px - 1px) {
      margin: 5px 0 !important;
    }
  }

  span.md-icon-text {
    color: #808080;
  }

  i.md-icon {
    color: #808080;
  }
}
