@import '~react-md/src/scss/react-md';
$md-primary-color: $md-indigo-200;
$md-secondary-color: $md-blue-grey-600;
$md-tertiary-color: $md-indigo-50;

.main-container,
.darker-background {
  background-color: $md-tertiary-color;
}

a:link {
  color: $md-secondary-color;
  text-decoration: none;
}
